#### Q1. List any five functions of the pandas library with execution.

In [1]:
import pandas as pd

In [9]:
# 1. Read csv function
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

# 2. tail
df.tail()

# 3. head
df.head()

# 4. dtypes

df.dtypes

# 5. columns
df.columns

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [12]:
df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6],'C':[7,8,9]})
def re_index(df):
    rows = df.shape[0]
    new_index = range(1,2*rows,2)
    df.index = new_index
    returns df

re_index(df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console. For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

In [23]:
df = pd.DataFrame({'items':['A','B','C','D','E'], 'values':[10,20,30,40,50]})
valueslist = list(df['values'])
y = 0
for x in valueslist[0:3]:
    y += x
print(y)
# or
def sum_of_first_three_value(df): 
    values = df['values'].head(3)
    sumofvalues = sum(values)
    print(sumofvalues)
    
df = pd.DataFrame({'items':['A','B','C','D','E'], 'values':[10,20,30,40,50]})    
sum_of_first_three_value(df)

60
60

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [31]:
def add_word_count_column(df):
    df['Words'] = df['Text'].str.split()
    df['Word_Count'] = df['Words'].apply(len)
    df = df.drop(columns=['Words'])
    return df

df = pd.DataFrame({'Text': ['This is a sample sentence.', 'Here is not another sentence.', 'And a third one.']})

add_word_count_column(df)

def add_letter_count(df):
    df['letter_count'] = df['Words'].str.len()
    return df

df = pd.DataFrame({'Words':['Sunny','Jimm', 'Ghosrtr']})
add_letter_count(df)

     Words  letter_count
0    Sunny             5
1     Jimm             4
2  Ghosrtr             7

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
'''
Both DataFrame.size() and DataFrame.shape() are methods used to obtain information about the size of a Pandas DataFrame, but 
they differ in what information they provide.

The DataFrame.size() method returns the total number of elements in the DataFrame, which is equal to the product of the number 
of rows and columns in the DataFrame. In other words, it returns the total number of cells in the DataFrame.

On the other hand, the DataFrame.shape() method returns a tuple representing the dimensions of the DataFrame, i.e., the number 
of rows and columns in the DataFrame. The first element of the tuple is the number of rows and the second element is the number 
of columns.
'''

#### Q6. Which function of pandas do we use to read an excel file?

In [ ]:
# We use read_excel() function read the excel file
df = pd.read_excel('data.xlsx')

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [32]:
def extract_name_from_mail(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df

df = pd.DataFrame({'Email':['sunny@gmail.com','john.doe@yahoo.com']})
extract_name_from_mail(df)

                Email  Username
0     sunny@gmail.com     sunny
1  john.doe@yahoo.com  john.doe

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values: A B C   0 3 5 1   1 8 2 7    2 6 9 4    3 2 3 5    4 9 1 2

In [40]:
def select_rows(df):
    selected_df = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_df

df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [41]:
def calculate_statistics(df):
    values_mean = df['Values'].mean()
    values_median = df['Values'].median()
    values_std = df['Values'].std()
    return values_mean, values_median, values_std

df = pd.DataFrame({'Values': [2, 4, 6, 8, 10]})
mean, median, std = calculate_statistics(df)
print("Mean: ", mean)
print("Median: ", median)
print("Standard Deviation: ", std)

Mean:  6.0
Median:  6.0
Standard Deviation:  3.1622776601683795

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function tocreate a new column  'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [42]:
def calculate_moving_average(df):
    ma_window_size = 7 
    ma_column_name = 'MovingAverage'
    df[ma_column_name] = df['Sales'].rolling(window=ma_window_size, min_periods=1).mean()
    return df

df = pd.DataFrame({'Date': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09', '2021-01-10'],
                   'Sales': [10, 12, 15, 14, 16, 18, 20, 22, 25, 23]})
df_with_ma = calculate_moving_average(df)
print(df_with_ma)

         Date  Sales  MovingAverage
0  2021-01-01     10      10.000000
1  2021-01-02     12      11.000000
2  2021-01-03     15      12.333333
3  2021-01-04     14      12.750000
4  2021-01-05     16      13.400000
5  2021-01-06     18      14.166667
6  2021-01-07     20      15.000000
7  2021-01-08     22      16.714286
8  2021-01-09     25      18.571429
9  2021-01-10     23      19.714286

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

In [45]:
def add_weekday_column(df):
    df['Date'] = pd.to_datetime(df['Date'])
    df['Weekday'] = df['Date'].dt.day_name()
    return df

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

#### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [46]:
def select_january_data(df):
    df['Date'] = pd.to_datetime(df['Date'])
    selected_data = df[(df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')]
    return selected_data

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01', '2023-02-15']})
january_data = select_january_data(df)
print(january_data)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

In [ ]:
'''
To use the basic functions of pandas, the first and foremost necessary library that needs to be imported is the pandas library 
itself. We typically import it using the following statement:
'''
import pandas as pd