#### Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
'''
Ans A database is a collection of data that is organized and stored in a way that allows for easy retrieval and manipulation of 
the information. Databases are commonly used to store and manage large amounts of data in a structured and organized manner.

SQL and NoSQL databases are two different types of databases that use different models to store and manage data. SQL databases 
are relational databases that use tables to store data, with each table containing rows and columns of data that are related to 
each other. SQL databases use a structured query language (SQL) to manipulate and retrieve data.

NoSQL databases, on the other hand, are non-relational databases that use a variety of data models to store and manage data, 
such as document, key-value, graph, and column-family models. NoSQL databases are designed to handle large amounts of 
unstructured or semi-structured data, and they typically offer high performance and scalability. They are often used in 
applications that require real-time data processing and analysis.

One key difference between SQL and NoSQL databases is that SQL databases are typically better suited for applications that 
require complex queries and data relationships, while NoSQL databases are often used in applications that require high 
scalability and performance, but may sacrifice some level of data consistency or query flexibility in exchange. Additionally, 
SQL databases often require a predefined schema, while NoSQL databases can be more flexible in their schema design.

'''

#### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
# Ans DDl is stands for Data Definition Language. It is used to defined and manuplate the structure of the table
'''
1. Create : It is used to create a table in the data base for example:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(100)
);

2. Drop : It is used to delete an existing database object as table or index.
DROP TABLE customers;

3. ALTER: The ALTER command is used to modify an existing database object, such as a table or index
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);

4. TRUNCATE: The TRUNCATE command is used to delete all data from a table, but keeps the table structure intact.
TRUNCATE TABLE customers;
'''

#### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
"""
Ans DML stands for Data Manuplation language. It is used to manuplate the data of the database table.

1. Insert : This command is used to insert the record in the database table.
Insert into customers
values(1,'Sunny','sunny@gmail.com');

2. UPDATE: The UPDATE command is used to modify existing data in a table
UPDATE customers SET email = 'jane.doe@example.com' WHERE id = 1;

3. Delete : This command is used to remove data from table.
DELETE FROM customers WHERE id = 1;

"""

#### Q4. What is DQL? Explain SELECT with an example.

In [ ]:
"""
DQL stands for Data Query Language. It is used to retrive the record from the table.
Select * from employee. this command will retrieve all the records from the employee table
"""

#### Q5. Explain Primary Key and Foreign Key.

In [ ]:
"""
Primary key is uniquely identify each row, it is not null constraint. There is only one primary key in a table

A Foreign Key is a column or a set of columns in one table that refers to the Primary Key of another table. It is used to 
establish relationships between tables and to enforce referential integrity. The Foreign Key ensures that the data in the 
referencing table is consistent with the data in the referenced table. In other words, it ensures that each value in the 
Foreign Key column of the referencing table corresponds to a value in the Primary Key column of the referenced table.
"""

#### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
 host = "localhost"
 user = "abc"
 password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("Create database Test")
mydb.close()

"""
The cursor() method creates a cursor object that can be used to interact with the database. The cursor object provides methods 
such as execute(), fetchone(), fetchall(), and fetchmany() to execute SQL queries and fetch results.

execute(query, params): This method is used to execute a SQL query on the database. The first argument is the query string, 
and the second argument (optional) is a tuple of values to substitute into the query (using %s placeholders). The method 
returns None if the query does not return any results, or a cursor object if the query returns results. In the example code, 
mycursor.execute("SELECT * FROM yourtable") executes a query to select all rows from the yourtable table. The results are 
fetched later using the fetchall() method on the cursor object. Note that the execute() method does not commit the transaction 
to the database, so any changes made by the query will not be persisted until you call mydb.commit().


"""

#### Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
"""
In general, an SQL query is executed in the following order:

1. FROM: The FROM clause is evaluated first to identify the table(s) and view(s) involved in the query.

2. JOIN: If the query involves a join operation, the JOIN clauses are evaluated next to combine the data from the tables/views.

3. WHERE: The WHERE clause is evaluated next to filter the rows returned by the query based on the specified conditions.

4. GROUP BY: If the query involves grouping, the GROUP BY clause is evaluated next to group the rows based on the 
specified columns.

5. HAVING: The HAVING clause is evaluated next to filter the groups returned by the query based on the specified conditions

6. SELECT: The SELECT clause is evaluated next to select the columns to include in the result set.

7. DISTINCT: If the query involves DISTINCT, the DISTINCT clause is evaluated next to remove duplicates from the result set.

8. ORDER BY: The ORDER BY clause is evaluated next to sort the rows in the result set based on the specified columns.

9. LIMIT: If the query involves LIMIT, the LIMIT clause is evaluated last to limit the number of rows returned by the query.



"""