#### Q1. Write a code to print the data present in the second row of the dataframe, df.

In [12]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
print(df[1:2])
df.loc[1]

        course_name  duration
1  Machine Learning         3

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [ ]:
'''
Both loc and iloc are indexing methods in pandas that allow you to select subsets of a DataFrame. The main difference between 
the two methods is how they reference the data.

loc is a label-based indexing method, which means that it selects data based on the row and column labels. You can use loc to 
select rows and columns by their labels, or to slice data using labels. The syntax for using loc is df.loc[row_label, 
column_label].

iloc, on the other hand, is a position-based indexing method, which means that it selects data based on the integer position of 
the rows and columns. You can use iloc to select rows and columns by their integer positions, or to slice data using integer 
positions. The syntax for using iloc is df.iloc[row_position, column_position].
'''

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [20]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
re_index = [3,0,1,2,5,4]
new_df = df1.reindex(re_index)
print(new_df.loc[2])
print(new_df.iloc[2])

# Note that since we have reindexed the DataFrame, the labels and integer positions have changed. The label for the row 
# originally at index 2 is now 1, and the integer position of the row with label 2 is now 2.

column_1    0.493338
column_2    0.232954
column_3    0.552333
column_4    0.247303
column_5    0.654126
column_6    0.139668
Name: 2, dtype: float64
column_1    0.008528
column_2    0.777445
column_3    0.821941
column_4    0.491180
column_5    0.282291
column_6    0.642782
Name: 1, dtype: float64

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1: (i) mean of each and every column present in the dataframe.  (ii) standard deviation of column, ‘column_2’

In [26]:
print(df1.mean())
df1['column_2'].std()

column_1    0.448077
column_2    0.563651
column_3    0.522240
column_4    0.491187
column_5    0.496382
column_6    0.435916
dtype: float64

0.3188241506209836

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2. If you are getting errors in executing it then explain why.

In [32]:
df1.loc[2,'column_2'] = 'new value'
df1
#df1['column_2'].mean()

# Got an error unsupported operand type(s) for +: 'float' and 'str' because we cannot calculate the mean of String

   column_1   column_2  column_3  column_4  column_5  column_6
1  0.008528   0.777445  0.821941  0.491180  0.282291  0.642782
2  0.493338  new value  0.552333  0.247303  0.654126  0.139668
3  0.456889   0.286131  0.510980  0.295131  0.270711  0.754038
4  0.469199   0.331074  0.772267  0.758646  0.916742  0.400624
5  0.785264   0.990068  0.293771  0.514510  0.547012  0.308880
6  0.475245   0.764237  0.182148  0.640355  0.307412  0.369504

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

In [ ]:
'''
In pandas, the window functions (also known as rolling or moving functions) are used to perform calculations on a moving window 
of data. This is especially useful for time-series data or any dataset where the order of the data points is important.

Window functions in pandas can be applied to a rolling window of data and the window can be either centered or not. These 
functions can be used to calculate moving statistics such as the rolling mean, rolling standard deviation, and rolling 
correlation coefficients.

The types of window functions available in pandas are:

Rolling Window Function: Calculates the rolling window statistics for a single column of data, like rolling mean or rolling sum,
etc.

Rolling Group Function: Calculates the rolling window statistics for a column of data with a group or category for 
each data point.
'''

#### Q7. Write a code to print only the current month and year at the time of answering this question. [Hint: Use pandas.datetime function]

In [41]:
import datetime
now = datetime.datetime.now()
current_month_year = now.strftime("%B %Y")
print(current_month_year)

March 2023

####  Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [45]:
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

diff = date2 - date1

days = diff.days
hours = diff.seconds / 3600
minutes = diff.seconds / 60

print(f"The difference between {date1.date()} and {date2.date()} is {days} days, {hours} hours, and {minutes} minutes.")

Enter the first date (YYYY-MM-DD): 2005-06-27
Enter the second date (YYYY-MM-DD): 2007-09-30

#### Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified column to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

file_path = input("Enter the file path: ")

column_name = input("Enter the column name to convert: ")

category_order = input("Enter the category order (comma-separated): ").split(",")

df = pd.read_csv(file_path)

df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

df_sorted = df.sort_values(by=column_name)

print(df_sorted)

#### Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the file path: ")

df = pd.read_csv(file_path)

df['Date'] = pd.to_datetime(df['Date'])

grouped = df.groupby(['Category', 'Date'])['Sales'].sum().reset_index()

pivoted = grouped.pivot(index='Date', columns='Category', values='Sales').fillna(0)

pivoted.plot(kind='bar', stacked=True)

plt.title('Sales by Product Category')
plt.xlabel('Date')
plt.ylabel('Sales')

plt.show()

#### Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and displays the results in a table.

In [ ]:
import pandas as pd

file_path = input("Enter the file path of the CSV file containing the student data: ")

data = pd.read_csv(file_path)

mean = data['Test Score'].mean()
median = data['Test Score'].median()
mode = data['Test Score'].mode()

table = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'], 'Value': [mean, median, ', '.join(map(str, mode.tolist()))]})
print(table)