#### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
list1 = range(11)
data1 = pd.Series(list1)
print(data1)

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64

#### Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
data2 = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
series2 = pd.DataFrame(data2)
print(series2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [9]:
'''
In Pandas, a DataFrame is a two-dimensional labeled data structure that represents a table of rows and columns. It is similar to
a spreadsheet or a SQL table, where the columns can have different data types, such as numeric, string, boolean, or date, and 
the rows are labeled with an index.

On the other hand, a Series is a one-dimensional labeled data structure that represents a single column of data in a DataFrame. 
It is similar to a list or a 1D NumPy array, but with an index attached to each value. A Series can have a single data type for 
all its elements.

Here's an example to illustrate the difference between a DataFrame and a Series:
'''
seriesdata = [1,2,3,4]

outputseries = pd.Series(seriesdata,index = ['a','b','c','d'])
print('Series :')
print(outputseries)

outputdataframe = pd.DataFrame({'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]})
print('\nDataFrame :')
print(outputdataframe)

Series :
a    1
b    2
c    3
d    4
dtype: int64

DataFrame :
   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

#### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [11]:
'''
Pandas DataFrame provides a wide range of functions to manipulate data. Some of the common functions used to manipulate data in 
a Pandas DataFrame are:

head() and tail(): To view the top or bottom rows of the DataFrame respectively. These functions can be useful to quickly 
inspect the data to check if it has been loaded correctly or to see what it looks like.

describe(): To generate descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, maximum, and 
quartile values for each numeric column. This function can be useful to get a quick overview of the distribution of the data.

groupby(): To group the rows of the DataFrame based on one or more columns and perform operations on each group. This function 
can be useful to calculate aggregate statistics for different categories of data.

sort_values(): To sort the rows of the DataFrame based on one or more columns in ascending or descending order. This function 
can be useful to reorder the data based on a specific column or a combination of columns.

drop(): To remove one or more rows or columns from the DataFrame. This function can be useful to remove missing or irrelevant 
data or to create a subset of the DataFrame.
'''
datastores = {'Product' : ['A','B','B','A','A','B'], 'Store':['X','Y','Y','X','X','Y'], 'Sales':[345,456,230,214,189,450]}
df = pd.DataFrame(datastores)
sum_of_product = df.groupby('Product')['Sales'].sum()

print(sum_of_product)

Product
A     748
B    1136
Name: Sales, dtype: int64

#### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
'''
Among the three, only the DataFrame and Panel are mutable in nature, meaning you can change their values after they have been 
created.

Series, on the other hand, is immutable in nature, meaning you cannot change the values in a series after it has been created. 
You can only modify it by creating a new series based on the existing series.
'''

#### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [12]:
nameSeries = pd.Series(['Alice', 'Bob', 'Claire'])
AgeSeries = pd.Series([25,30,27])
genderSeries = pd.Series(['Female','Male','Female'])
dataframefromseries = pd.DataFrame({'Name':nameSeries, 'Age': AgeSeries, 'Gender':genderSeries})

print(dataframefromseries)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female